html, body {width: 100%; overflow-x: hidden;}

body {padding: 0; margin: 0; font-family: 'Press Start 2P', arial, sans-serif; background-color:#000000;}

.hero {position: relative; text-align: center}
.hero-content {display: block; position: relative; z-index: 9999}

.parallax {
  display: block;
  text-align: center;
  padding: 10em 1em;
  color: #fff; overflow: hidden
}
.parallax h1 {font-size: 4em; text-shadow: 1px 1px 2px #000000; margin-bottom: 15px; color:#fff;}
.parallax p {font-family: 'Press Start 2P', sans-serif; font-size: 1em; text-transform: uppercase; letter-spacing: 0.1em; font-weight: bold; color: #fff; text-shadow: 1px 1px 2px #000000}

.nyc {background: url(../images/1.jpg) no-repeat center center; background-size: cover;}

.studies {background: url(../images/studying.jpg) no-repeat center center; background-size: cover;}

.experience {background: url(../images/work.jpg) no-repeat center center; background-size: cover;}

.skills {background: url(../images/skills.jpg) no-repeat center center; background-size: cover;}

.other {background: url(../images/other.jpg) no-repeat center center; background-size: cover;}

.cntct {background: url(../images/contact.jpg) no-repeat center center; background-size: cover;}

.spacer {display: block; color: #fff; font-family: Arial, sans-serif; padding: 3em 0}
.spacer h3 {font-family: Arial, sans-serif; font-size: 2em; margin-bottom: 15px}
.spacer p {font-size: 15px; line-height: 22px; margin-bottom: 15px}
button {border: 1px solid #aaa; padding: 0.75em 1.5em; border-radius: 4px; background: none; font-size: 1.25em; color: #555; display: inline-block; margin-right: -5px; vertical-align: top}
button:hover {background: #00ace9; color: #fff; border-color: #00ace9; cursor: pointer}
button.danger {margin-left: 25px; background: #d30; color: #fff; border-color: #d30}
button.danger:hover {background: #a00; border-color: #a00}
.container {max-width: 960px; margin: 0 auto; width: 95%}
.centered {text-align: center; padding-bottom: 3.75em}

.cleft-wrapper {
position: relative;
top: -1.25rem;
margin-bottom: -1.25rem;
left: 0;
width: 100%;
height: 1.25rem;
overflow: hidden;
}
.cleft-left, .cleft-right {
width: 50%;
height: 1.25rem;
background-color: #000000;
position: absolute;
top: 0;
}
.cleft-left {
left: -1.5rem;
}
.cleft-right {
right: -1.5rem;
}
.cleft-left:before, .cleft-right:before {
content: ' ';
display: block;
position: absolute;
width: 0;
height: 0;
border-style: solid;
}
.cleft-left:before {
right: -1.5rem;
border-width: 1.25rem 0 0 1.5rem;
border-color: transparent transparent transparent #000000;
}
.cleft-right:before {
left: -1.5rem;
border-width: 1.25rem 1.5rem 0 0;
border-color: transparent #000000 transparent transparent;
}

.carrotBox {position: relative}
.carrot {
display: block;
height: 0;
width: 0;
border-top: 1.25rem solid #000000;
border-right: 1.5rem solid transparent;
border-left: 1.5rem solid transparent;
position: absolute;
left: 50%;
margin-left: -1.5rem;
bottom: -1.25rem;
}

/*** SKILLS ***/
.graph-cont{
  width: calc(100% - 40px);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.bar{
  font-weight: bold;
  height: 30px;
  max-width: 800px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 16px;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
}
.bar::before{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -2;
  background: #ecf0f1;
}
.bar::after{
  content: '';
  background: #07c357;
  height: 30px;
  transition: 0.7s;
  display: block;
  width: 100%;
  -webkit-animation: bar-before 1 1.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.bar1::after{
  max-width: 80%;
}
.bar2::after{
  max-width: 69%;
}
.bar3::after{
  max-width: 72%;
}
.bar4::after{
  max-width: 70%;
}
.bar5::after{
  max-width: 61%;
}
.bar6::after{
  max-width: 54%;
}
.bar7::after{
  max-width: 23%;
}
@-webkit-keyframes bar-before{
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}
.to-left {
  text-align: left;
}
/*** SOCIAL ICONS ***/


.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 70px;
}

.social .link span {
  display: inline-flex;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.skype {
  background-color: #2196f3;
  color: white;
}
.social .link.telegram {
  background-color: #03a9f4;
  color: white;
}
.social .link.github {
  background-color: #333;
  color: white;
}
.social .link.email {
  background-color: #ff9800;
  color: white;
}
.social .link.phone {
  background-color: #1cbfb0;
  color: white;
}
.social .link.youtube {
  background-color: #d8300a;
  color: white;
}
.social .link.linkedin {
  background-color: #0077b5;
  color: white;
}

/*** MY PHOTO ***/
.spacer .intro {
  padding: 20px;
  margin-top: 50px;
  display: -webkit-flex;
  display: flex;
}
.myphoto {
  display: inline-block;
}
.link.photo {
  /* margin-left: 35%; */
  background: url(../images/MyPic.gif) no-repeat center center;
  /* margin-top: 10px; */
  padding: 100px;
  background-size: cover;
  border-radius: 50%;
  max-height: 300px;
  max-width: 60px;
}

.texto {
  -webkit-flex: 1;
  flex: 1;
}

.texto article {
  margin: 0 10px 10px 0px;
  padding: 10px;
  border-radius: 10px;
}

/*** CONTACT DATA ***/
.justify {
  text-align: center;
}
.contact-div {
  box-sizing: none;
  align-items: center;
  align-self: center;
  align-content: center;
  margin: 4px;
  padding: 5px;
  /* display: flex;
  flex-wrap: wrap; */

  width: 100%;

}
.icon-div {
   min-width: 250px;
   box-sizing: none;
   margin: 4px;
   padding: 5px;
   display: inline-block;
   vertical-align: middle;
    min-height: 200px;
 }
.container .contact {
    text-align: center;
}

.map {
  margin-top: 10px;
  padding-top: 10px;
}

/*** SECTION: ADDRESS ***/
.address {
  box-shadow: 0 7px 16px -2px rgba(0,0,0,.3);
  background: #545151;
}
.address h1 {
  display: block;
  margin: 15px 0 5px 30px;
  font: 21px 'Lato';
  font-weight: 900;
  color: #fff;
}
.address h2 {
  display: block;
  margin: 0 0 17px 30px;
  font: 12px 'Lato';
  font-weight: 700;
  color: #fff;
}


/* Static 1st column & 2 filler columns (chrome, moz, edge, IE10+, safari) */
.flex.static {
  width: 100px;
  padding: 10px;
}

.flex.column {
  -webkit-flex: 1;
  flex: 1;
  background: none;
}

.flex.column article {
  margin: 0 10px 10px 0px;
  padding: 10px;
  background: #F9647E;
}

.flex.column article:last-child {
  margin-bottom: 0;
}


ul {
  list-style: disclosure-closed;
  color:rgba(255, 255, 255, 0.2);
}

.languages {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.containerlang {
    display: inline-block;
  max-width: 250px;
  max-height: 250px;
}

.download-container {
  text-align: center;
  margin: 0;
  width: 100%;
  max-width: 100%;
}
.download-button {
  border-radius: 35px;
  border-color: white;

}
.download-link {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  padding: 10px;

}

.font-color-white {
  color: #fff;
}
.font-color-gray {
  color: #545151;
}

.inline-list-item {
  display: inline list-item;
}

.no-list-style {
  list-style-type: none;
}


/* theme switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
  
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dcdcd8;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* language selector */
div.configuration {
  background-color: rgb(55,55,55);
}

.container__language {
  position: absolute;
  top: 2vh;
  right: 2vw;
  z-index: 1;
}

.main__language {
  background-color: hsl(240, 4%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

:root {
  /* --default variation only 👇 */
  --select-icon-size: 16px;
  --select-icon-margin: 1rem; /* icon right/left position */
  --select-text-icon-gap: 0.5rem; /* gap between text and icon */
}

.select__language {
  position: relative;
}

.select__input__language {
  appearance: none;
  border: 0;
  margin: 0;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  padding: 0.5rem calc(var(--select-icon-size) + var(--select-icon-margin) + var(--select-text-icon-gap));
  -webkit-user-select: none;
          user-select: none;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.1), 0 0 0 1px hsla(230, 13%, 9%, 0.02), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.025), 0 1px 3px -1px hsla(230, 13%, 9%, 0.2), 0 3.5px 6px hsla(230, 13%, 9%, 0.12);
  border-radius: 0.375em;
  transition: box-shadow 0.2s;
}

.select__input__language:focus  {
  outline: none;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.1), 0 0 0 1px hsla(230, 13%, 9%, 0.02), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.025), 0 1px 3px -1px hsla(230, 13%, 9%, 0.2), 0 3.5px 6px hsla(230, 13%, 9%, 0.12), 0 0 0 2px hsl(0, 0%, 100%), 0 0 0 4px hsl(230, 7%, 23%);
}

.select__arrow__language,
.select__flag__language {
  display: inline-block;
  width: var(--select-icon-size);
  height: var(--select-icon-size);
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.select__arrow__language {
  color: inherit;
  right: var(--select-icon-margin);
}

.select__flag__language {
  left: var(--select-icon-margin);
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--select-icon-size);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg%3E%3Cpath d='M16 0c-8.8 0-16 7.2-16 16s7.2 16 16 16 16-7.2 16-16-7.2-16-16-16z m11.8 14h-3.8c-0.2-3-0.8-5.8-1.6-8.2 2.8 1.8 4.8 4.8 5.4 8.2z m-11.8 14c-1.2 0-3.6-3.8-4-10h8c-0.4 6.2-2.8 10-4 10z m-4-14c0.4-6.2 2.6-10 4-10s3.6 3.8 4 10h-8z m-2.2-8.2c-1 2.4-1.6 5.2-1.8 8.2h-3.8c0.6-3.4 2.6-6.4 5.6-8.2z m-5.6 12.2h3.8c0.2 3 0.8 5.8 1.6 8.2-2.8-1.8-4.8-4.8-5.4-8.2z m18 8.2c1-2.4 1.4-5.2 1.6-8.2h3.8c-0.4 3.4-2.4 6.4-5.4 8.2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.select__language:has(option[value="ES"]:checked) .select__flag__language {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg%3E%3Cpath fill='%23f1c142' d='M1 10H31V22H1z'%3E%3C/path%3E%3Cpath d='M5,4H27c2.208,0,4,1.792,4,4v3H1v-3c0-2.208,1.792-4,4-4Z' fill='%23a0251e'%3E%3C/path%3E%3Cpath d='M5,21H27c2.208,0,4,1.792,4,4v3H1v-3c0-2.208,1.792-4,4-4Z' transform='rotate(180 16 24.5)' fill='%23a0251e'%3E%3C/path%3E%3Cpath d='M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z' opacity='.15'%3E%3C/path%3E%3Cpath d='M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z' fill='%23fff' opacity='.2'%3E%3C/path%3E%3Cpath d='M12.614,13.091c.066-.031,.055-.14-.016-.157,.057-.047,.02-.15-.055-.148,.04-.057-.012-.144-.082-.13,.021-.062-.042-.127-.104-.105,.01-.068-.071-.119-.127-.081,.004-.068-.081-.112-.134-.069-.01-.071-.11-.095-.15-.035-.014-.068-.111-.087-.149-.028-.027-.055-.114-.057-.144-.004-.03-.047-.107-.045-.136,.002-.018-.028-.057-.044-.09-.034,.009-.065-.066-.115-.122-.082,.002-.07-.087-.111-.138-.064-.013-.064-.103-.087-.144-.036-.02-.063-.114-.075-.148-.017-.036-.056-.129-.042-.147,.022-.041-.055-.135-.031-.146,.036-.011-.008-.023-.014-.037-.016,.006-.008,.01-.016,.015-.025h.002c.058-.107,.004-.256-.106-.298v-.098h.099v-.154h-.099v-.101h-.151v.101h-.099v.154h.099v.096c-.113,.04-.169,.191-.11,.299h.002c.004,.008,.009,.017,.014,.024-.015,.002-.029,.008-.04,.017-.011-.067-.106-.091-.146-.036-.018-.064-.111-.078-.147-.022-.034-.057-.128-.046-.148,.017-.041-.052-.131-.028-.144,.036-.051-.047-.139-.006-.138,.064-.056-.033-.131,.017-.122,.082-.034-.01-.072,.006-.091,.034-.029-.047-.106-.049-.136-.002-.03-.054-.117-.051-.143,.004-.037-.059-.135-.04-.149,.028-.039-.06-.14-.037-.15,.035-.053-.043-.138,0-.134,.069-.056-.038-.137,.013-.127,.081-.062-.021-.125,.044-.104,.105-.05-.009-.096,.033-.096,.084h0c0,.017,.005,.033,.014,.047-.075-.002-.111,.101-.055,.148-.071,.017-.082,.125-.016,.157-.061,.035-.047,.138,.022,.154-.013,.015-.021,.034-.021,.055h0c0,.042,.03,.077,.069,.084-.023,.048,.009,.11,.06,.118-.013,.03-.012,.073-.012,.106,.09-.019,.2,.006,.239,.11-.015,.068,.065,.156,.138,.146,.06,.085,.133,.165,.251,.197-.021,.093,.064,.093,.123,.118-.013,.016-.043,.063-.055,.081,.024,.013,.087,.041,.113,.051,.005,.019,.004,.028,.004,.031,.091,.501,2.534,.502,2.616-.001v-.002s.004,.003,.004,.004c0-.003-.001-.011,.004-.031l.118-.042-.062-.09c.056-.028,.145-.025,.123-.119,.119-.032,.193-.112,.253-.198,.073,.01,.153-.078,.138-.146,.039-.104,.15-.129,.239-.11,0-.035,.002-.078-.013-.109,.044-.014,.07-.071,.049-.115,.062-.009,.091-.093,.048-.139,.069-.016,.083-.12,.022-.154Zm-.296-.114c0,.049-.012,.098-.034,.141-.198-.137-.477-.238-.694-.214-.002-.009-.006-.017-.011-.024,0,0,0-.001,0-.002,.064-.021,.074-.12,.015-.153,0,0,0,0,0,0,.048-.032,.045-.113-.005-.141,.328-.039,.728,.09,.728,.393Zm-.956-.275c0,.063-.02,.124-.054,.175-.274-.059-.412-.169-.717-.185-.007-.082-.005-.171-.011-.254,.246-.19,.81-.062,.783,.264Zm-1.191-.164c-.002,.05-.003,.102-.007,.151-.302,.013-.449,.122-.719,.185-.26-.406,.415-.676,.73-.436-.002,.033-.005,.067-.004,.101Zm-1.046,.117c0,.028,.014,.053,.034,.069,0,0,0,0,0,0-.058,.033-.049,.132,.015,.152,0,0,0,.001,0,.002-.005,.007-.008,.015-.011,.024-.219-.024-.495,.067-.698,.206-.155-.377,.323-.576,.698-.525-.023,.015-.039,.041-.039,.072Zm3.065-.115s0,0,0,0c0,0,0,0,0,0,0,0,0,0,0,0Zm-3.113,1.798v.002s-.002,0-.003,.002c0-.001,.002-.003,.003-.003Z' fill='%239b8028'%3E%3C/path%3E%3Cpath d='M14.133,16.856c.275-.65,.201-.508-.319-.787v-.873c.149-.099-.094-.121,.05-.235h.072v-.339h-.99v.339h.075c.136,.102-.091,.146,.05,.235v.76c-.524-.007-.771,.066-.679,.576h.039s0,0,0,0l.016,.036c.14-.063,.372-.107,.624-.119v.224c-.384,.029-.42,.608,0,.8v1.291c-.053,.017-.069,.089-.024,.123,.007,.065-.058,.092-.113,.083,0,.026,0,.237,0,.269-.044,.024-.113,.03-.17,.028v.108s0,0,0,0v.107s0,0,0,0v.107s0,0,0,0v.108s0,0,0,0v.186c.459-.068,.895-.068,1.353,0v-.616c-.057,.002-.124-.004-.17-.028,0-.033,0-.241,0-.268-.054,.008-.118-.017-.113-.081,.048-.033,.034-.108-.021-.126v-.932c.038,.017,.073,.035,.105,.053-.105,.119-.092,.326,.031,.429l.057-.053c.222-.329,.396-.743-.193-.896v-.35c.177-.019,.289-.074,.319-.158Z' fill='%239b8028'%3E%3C/path%3E%3Cpath d='M8.36,16.058c-.153-.062-.39-.098-.653-.102v-.76c.094-.041,.034-.115-.013-.159,.02-.038,.092-.057,.056-.115h.043v-.261h-.912v.261h.039c-.037,.059,.039,.078,.057,.115-.047,.042-.108,.118-.014,.159v.873c-.644,.133-.611,.748,0,.945v.35c-.59,.154-.415,.567-.193,.896l.057,.053c.123-.103,.136-.31,.031-.429,.032-.018,.067-.036,.105-.053v.932c-.055,.018-.069,.093-.021,.126,.005,.064-.059,.089-.113,.081,0,.026,0,.236,0,.268-.045,.024-.113,.031-.17,.028v.401h0v.215c.459-.068,.895-.068,1.352,0v-.186s0,0,0,0v-.108s0,0,0,0v-.107s0,0,0,0v-.107s0,0,0,0v-.108c-.056,.002-.124-.004-.169-.028,0-.033,0-.241,0-.269-.055,.008-.119-.018-.113-.083,.045-.034,.03-.107-.024-.124v-1.29c.421-.192,.383-.772,0-.8v-.224c.575,.035,.796,.314,.653-.392Z' fill='%239b8028'%3E%3C/path%3E%3Cpath d='M12.531,14.533h-4.28l.003,2.572v1.485c0,.432,.226,.822,.591,1.019,.473,.252,1.024,.391,1.552,.391s1.064-.135,1.544-.391c.364-.197,.591-.587,.591-1.019v-4.057Z' fill='%23a0251e'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.select__language:has(option[value="EN"]:checked) .select__flag__language {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23002781' d='M46,6H2C0.896,6,0,6.896,0,8v32c0,1.104,0.896,2,2,2h44c1.104,0,2-0.896,2-2V8C48,6.896,47.104,6,46,6z'/%3E%3Cpath fill='%23E6E6E6' d='M48,8c0-1.104-0.896-2-2-2h-5.161L28,15.876V6h-8v9.876L7.161,6H2C0.896,6,0,6.896,0,8v2.586L12.239,20H0v8 h12.239L0,37.415V40c0,1.104,0.896,2,2,2h5.161L20,32.124V42h8v-9.876L40.839,42H46c1.104,0,2-0.896,2-2v-2.585L35.761,28H48v-8 H35.761L48,10.586V8z'/%3E%3Cpolygon fill='%23D10D24' points='48,22 26,22 26,6 22,6 22,22 0,22 0,26 22,26 22,42 26,42 26,26 48,26 '/%3E%3Cpath fill='%23D10D24' d='M47.001,6.307L29.2,20h3.28L48,8.062V8C48,7.268,47.587,6.656,47.001,6.307z'/%3E%3Cpath fill='%23D10D24' d='M32.48,28H29.2l17.801,13.693C47.587,41.344,48,40.732,48,40v-0.062L32.48,28z'/%3E%3Cpath fill='%23D10D24' d='M15.52,28L0,39.938V40c0,0.732,0.413,1.344,0.999,1.693L18.8,28H15.52z'/%3E%3Cpath fill='%23D10D24' d='M15.52,20h3.28L0.999,6.307C0.413,6.656,0,7.268,0,8v0.062L15.52,20z'/%3E%3C/svg%3E");
}